@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-toastify/dist/ReactToastify.min.css';

:root {
  --foreground-rgb: 0, 0, 0; /* Black for text */
  --background-start-rgb: 255, 255, 255; /* White for background */
  --background-end-rgb: 255, 255, 255; /* Keeping end color also white for a solid background */
  --pink: #ff385c;
  --red: #ff0000;
  --green: #83a68f;
  --green-1: #395a44;
  --green-2: #00d66e;
  --green-3: #5dc661;

  --black-05: rgba(0, 0, 0, 0.05);
  --black-08: rgba(0, 0, 0, 0.08);
  --black-09: rgba(0, 0, 0, 0.09);
}

@media (prefers-color-scheme: light-mode) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White for text in dark mode */
    --background-start-rgb: 0, 0, 0; /* Black for background in dark mode */
    --background-end-rgb: 0, 0, 0; /* Keeping end color also black for a solid background in dark mode */
  }
}

body,
html,
#__next {
  font-style: normal;
  /* color: rgb(var(--foreground-rgb)); */
}
html,
body textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

textarea {
  resize: none;
}

input {
  background-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-floral-white {
  background-color: #ffffff;
}

.secondary-color {
  background-color: #d4c4c5;
}

.button-color {
  /* background-color: #034E35; */
  background-color: #ff385c;
}

@layer components {
  .logo-title {
    font-size: 1.83425rem;
    line-height: 1.44119rem; /* 78.571% */
    letter-spacing: -0.07163rem;
  }

  .logo-title-sm {
    font-size: 1.28569rem;
    line-height: 1.01019rem; /* 78.571% */
    letter-spacing: -0.05019rem;
  }

  .button-green {
    @apply button-color text-white font-bold py-2 px-4 rounded;
  }

  .typography-footer-title {
    @apply font-medium text-pink text-base leading-7 font-poppins;
  }
  .typography-footer {
    @apply text-base font-normal text-black leading-7;
  }
  .typography-footer-poppins {
    @apply typography-footer font-poppins;
  }
  .typography-footer-open-sans {
    @apply typography-footer font-open-sans;
  }
  .typography-page-title-base {
    @apply text-center text-2xl font-montserrat tracking-tight-06;
  }
  .typography-page-title {
    @apply typography-page-title-base text-black-1 font-bold;
  }
  .typography-page-title-semibold {
    @apply typography-page-title-base font-semibold;
  }
  .typography-file-base {
    @apply text-center text-black-2 font-semibold font-open-sans;
  }
  .typography-file-md {
    @apply typography-file-base text-base;
  }
  .typography-file-sm {
    @apply typography-file-base text-sm;
  }
  .typography-page-title-preferences {
    @apply text-center text-black-6 text-2xl font-bold font-montserrat tracking-tight-06;
  }
  .typography-pink-xs {
    @apply text-pink text-xs leading-7 font-semibold font-open-sans;
  }
  .typography-inline-notification {
    @apply text-pink text-xs leading-[18px] font-semibold font-open-sans;
  }
  .typography-logo-title {
    @apply font-montserrat font-bold text-black;
  }
  .typography-logo-title--xs {
    @apply logo-title-sm typography-logo-title;
  }
  .typography-logo-title--sm {
    @apply logo-title typography-logo-title;
  }
  .typography-logo-title--responsive {
    @apply typography-logo-title--xs sm:typography-logo-title--sm;
  }
  .typography-signup-input {
    @apply text-black-4 font-medium text-sm;
  }
  .typography-text-input {
    @apply text-black font-medium text-sm;
  }
  .typography-form-title-base {
    @apply text-black text-center text-base font-montserrat;
  }
  .typography-form-title {
    @apply typography-form-title-base font-semibold;
  }
  .typography-form-subtitle {
    @apply typography-form-title-base font-bold;
  }
  .typography-details-base {
    @apply text-sm;
  }
  .typography-details-title {
    @apply typography-details-base text-black-2 font-semibold;
  }
  .typography-details-subtitle {
    @apply typography-details-base text-black-4 font-medium;
  }
  .typography-details-pink {
    @apply typography-details-base text-pink;
  }
  .typography-form-notification {
    @apply text-black-3 text-sm font-semibold tracking-tight-02 text-center;
  }
  .typography-landing-subtitle {
    @apply tracking-tight-06 text-black font-bold;
  }
  .typography-landing-subtitle--lg {
    @apply typography-landing-subtitle text-4.5xl leading-[120%];
  }
  .typography-landing-subtitle--sm {
    @apply typography-landing-subtitle text-3xl;
  }
  .typography-landing-subtitle--responsive {
    @apply typography-landing-subtitle--sm lg:typography-landing-subtitle--lg;
  }
  .typography-landing-text {
    @apply font-medium text-black-6 text-base;
  }
  .typography-landing-hero-title {
    @apply font-extrabold	text-[80px] tracking-tight-06;
  }
  .typography-landing-hero-title--lg {
    @apply typography-landing-hero-title leading-none text-[80px];
  }
  .typography-landing-hero-title--sm {
    @apply typography-landing-hero-title leading-none text-[32px];
  }
  .typography-landing-hero-title--responsive {
    @apply typography-landing-hero-title--sm md:typography-landing-hero-title--lg;
  }
  .typography-button-pink {
    @apply text-pink font-semibold font-semibold;
  }
}

@layer components {
  .spacing-landing {
    @apply px-6 lg:px-20;
  }
}

@layer components {
  .fill-column-white-base {
    @apply flex flex-col items-stretch w-full shadow-08 bg-white rounded-2xl;
  }
  .fill-column-white {
    @apply fill-column-white-base px-6 py-9;
  }
  .fill-column-white-sm {
    @apply fill-column-white-base px-4 py-5;
  }
  .fill-gray-base {
    @apply flex w-full bg-white-2 rounded-lg w-full;
  }
  .fill-gray-row {
    @apply fill-gray-base flex-row items-center justify-between;
  }
  .fill-gray-col {
    @apply fill-gray-base flex-col items-stretch;
  }
}
