@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black for text */
  --background-start-rgb: 255, 255, 255; /* White for background */
  --background-end-rgb: 255, 255, 255; /* Keeping end color also white for a solid background */
}

@media (prefers-color-scheme: light-mode) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White for text in dark mode */
    --background-start-rgb: 0, 0, 0; /* Black for background in dark mode */
    --background-end-rgb: 0, 0, 0; /* Keeping end color also black for a solid background in dark mode */
  }
}

body,
html,
#__next {
  font-style: normal;
  color: rgb(var(--foreground-rgb));
  background: rgb(
    var(--background-start-rgb)
  ); /* Updated to use a solid color */
}
html,
body textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

textarea {
  resize: none;
}

input {
  background-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-floral-white {
  background-color: #ffffff;
}

.secondary-color {
  background-color: #d4c4c5;
}

.button-color {
  /* background-color: #034E35; */
  background-color: #ff385c;
}

@layer components {
  .logo-title {
    font-size: 1.83425rem;
    line-height: 1.44119rem; /* 78.571% */
    letter-spacing: -0.07163rem;
  }

  .logo-title-sm {
    font-size: 1.28569rem;
    line-height: 1.01019rem; /* 78.571% */
    letter-spacing: -0.05019rem;
  }

  .button-green {
    @apply button-color hover:bg-green-900 text-white font-bold py-2 px-4 rounded;
  }

  .typography-footer-title {
    @apply font-medium text-pink text-base leading-7 font-poppins;
  }
  .typography-footer {
    @apply text-base font-normal text-black leading-7;
  }
  .typography-footer-poppins {
    @apply typography-footer font-poppins;
  }
  .typography-footer-open-sans {
    @apply typography-footer font-open-sans;
  }
  .typography-page-title {
    @apply text-center text-black-1 text-2xl font-bold font-montserrat tracking-tight-06;
  }
  .typography-page-subtitle {
    @apply text-center text-black-2 text-base font-semibold font-open-sans;
  }
  .typography-quote-see-video {
    @apply text-pink text-xs leading-7 font-semibold font-open-sans;
  }
  .typography-logo-title {
    @apply font-montserrat font-bold text-black;
  }
  .typography-logo-title--sm {
    @apply logo-title-sm typography-logo-title;
  }
  .typography-logo-title--lg {
    @apply logo-title typography-logo-title;
  }
  .typography-logo-title--responsive {
    @apply typography-logo-title--sm lg:typography-logo-title--lg;
  }
  .typography-logo-title-footer--responsive {
    @apply typography-logo-title--sm sm:typography-logo-title--lg;
  }
}
