h1.title {
  color: #000;
  font-size: 29.348px;
  font-weight: 700;
  line-height: 23.059px; /* 78.571% */
  letter-spacing: -1.146px;
}

.quote {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px; /* 175% */
}

.sign-in {
  color: #ff385c;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%; /* 16px */
}

.submit-video {
  text-align: center;
  font-family: var(--font-open-sans);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
