@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black for text */
  --background-start-rgb: 255, 255, 255; /* White for background */
  --background-end-rgb: 255, 255, 255; /* Keeping end color also white for a solid background */
}

@media (prefers-color-scheme: light-mode) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White for text in dark mode */
    --background-start-rgb: 0, 0, 0; /* Black for background in dark mode */
    --background-end-rgb: 0, 0, 0; /* Keeping end color also black for a solid background in dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Updated to use a solid color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-floral-white {
  background-color: #F8F6F2;
}

.secondary-color {
  background-color: #DDD0D1;
}

.button-color {
  background-color: #5C7457;
}